In [1]:
# Importing necessary tools to process data:

import pandas as pd
import numpy as np
import matplotlib as plot
import csv
import openpyxl
from datetime import datetime

In [2]:
# Assigning a value to my first data set:

weekend_movie_gross_excel = pd.read_excel(r"C:\Users\mattl\code\SavvyCoders\Capstone\Data Sets\Opening Weekend Gross.xlsx")
weekend_movie_gross_excel

In [4]:
# Initial cleaning of first data set by removing unnecessary columns:

weekend_movie_gross_excel.drop(['% of Total', 'Theaters', 'Average'], axis=1, inplace=True)
weekend_movie_gross_excel

In [6]:
# Organizing the data in a descening format by date:

weekend_movie_gross_excel.sort_values(by = ['Date'], inplace=True, ascending=False)
weekend_movie_gross_excel

In [8]:
# Trimming my data to a specific date range:

startDate = pd.to_datetime('2014-01-01')
endDate = pd.to_datetime('2019-12-31')
filterDates = weekend_movie_gross_excel[(weekend_movie_gross_excel['Date'] >= startDate) & (weekend_movie_gross_excel['Date'] <= endDate)]
filterDates

,Release,Opening,Total Gross,Date,Distributor
14,Star Wars: Episode IX - The Rise of Skywalker,177383864.0,515202542.0,2019-12-20,Walt Disney Studios Motion Pictures
205,Jumanji: The Next Level,59251543.0,320314960.0,2019-12-13,Sony Pictures Entertainment (SPE)
721,Knives Out,26769548.0,165363234.0,2019-11-27,Lions Gate Films
42,Frozen II,130263358.0,477373578.0,2019-11-22,Walt Disney Studios Motion Pictures
567,Ford v Ferrari,31474958.0,117624357.0,2019-11-15,Twentieth Century Fox
...,...,...,...,...,...
758,About Last Night,25649011.0,48637684.0,2014-02-14,Screen Gems
968,RoboCop,21681430.0,58607007.0,2014-02-12,Sony Pictures Entertainment (SPE)
945,The Monuments Men,22003433.0,78031620.0,2014-02-07,Sony Pictures Entertainment (SPE)
154,The Lego Movie,69050279.0,257760692.0,2014-02-07,Warner Bros.
373,Ride Along,41516170.0,134938200.0,2014-01-17,Universal Pictures

In [9]:
# Saving my cleaned data set to be accessed in other platforms:

csv_file_path = r'C:\Users\mattl\code\SavvyCoders\Capstone\Data Sets\FirstWeekendData.csv'

filterDates.to_csv(csv_file_path, index=False)

print(f"DataFrame saved to {csv_file_path}")

DataFrame saved to C:\Users\mattl\code\SavvyCoders\Capstone\Data Sets\FirstWeekendData.csv

In [2]:
# Assigning a value to my second data set:

movie_data = pd.read_csv(r'C:\Users\mattl\code\SavvyCoders\Capstone\Data Sets\CumulativeMovieData.csv')
movie_data

,name,genre,year,gross,released2
0,Little Women,Drama,2019,2.166012e+08,2019-12-25
1,Ip Man 4: The Finale,Action,2019,1.763460e+08,2019-12-20
2,Star Wars: Episode IX - The Rise of Skywalker,Action,2019,1.078233e+09,2019-12-20
3,Jumanji: The Next Level,Action,2019,8.000597e+08,2019-12-13
4,The Death & Life of John F. Donovan,Drama,2018,3.326364e+06,2019-12-13
...,...,...,...,...,...
1238,Lone Survivor,Action,2013,1.548029e+08,2014-01-10
1239,August: Osage County,Comedy,2013,7.418894e+07,2014-01-10
1240,The Legend of Hercules,Action,2014,6.127945e+07,2014-01-10
1241,Inside Llewyn Davis,Comedy,2013,3.296025e+07,2014-01-10
1242,The Best Offer,Crime,2013,2.091970e+07,2014-01-01

In [13]:
# Initial cleaning of second data set by removing unnecessary columns:

movie_data.drop(['rating', 'score', 'votes', 'director', 'writer', 'star', 'country', 'budget', 'company', 'runtime', 'released'], axis=1, inplace=True)

KeyError: "['rating', 'score', 'votes', 'director', 'writer', 'star', 'country', 'budget', 'company', 'runtime', 'released'] not found in axis"

In [ ]:
# Identifyig 'Released' date format:

def parse_date(date_string):
    try:
        date_string = date_string.split('(')[0].strip()
    except AttributeError:
        print("Error with date1: " + str(date_string))
        return None
    try:
        date_object = datetime.strptime(date_string, "%B %d, %Y")
    except ValueError:
        try:
            date_object = datetime.strptime(date_string, "%B %Y")
        except ValueError:
            try:
                date_object = datetime.strptime(date_string, "%Y")
            except ValueError:
                print("Error with date: " + date_string)
                return None
            date_object = datetime.strptime(date_string, "%Y")
    return date_object.strftime("%Y-%m-%d")

# Appling the function to the 'date' column:

movie_data['released2'] = movie_data['Cleaned_released_date'].apply(parse_date)

# Converting 'released2' to appropriate datetime format:

movie_data['released2'] = pd.to_datetime(movie_data['released2'], errors='coerce')
movie_data

Error with date1: nan
Error with date1: nan

,name,genre,year,gross,Cleaned_released_date,released2
0,The Shining,Drama,1980,46998772.0,"June 13, 1980",1980-06-13
1,The Blue Lagoon,Adventure,1980,58853106.0,"July 2, 1980",1980-07-02
2,Star Wars: Episode V - The Empire Strikes Back,Action,1980,538375067.0,"June 20, 1980",1980-06-20
3,Airplane!,Comedy,1980,83453539.0,"July 2, 1980",1980-07-02
4,Caddyshack,Comedy,1980,39846344.0,"July 25, 1980",1980-07-25
...,...,...,...,...,...,...
7663,More to Life,Drama,2020,NaN,"October 23, 2020",2020-10-23
7664,Dream Round,Comedy,2020,NaN,"February 7, 2020",2020-02-07
7665,Saving Mbango,Drama,2020,NaN,"April 27, 2020",2020-04-27
7666,It's Just Us,Drama,2020,NaN,"October 1, 2020",2020-10-01
7667,Tee em el,Horror,2020,NaN,"August 19, 2020",2020-08-19

In [ ]:
# Removing initial 'date' column:

movie_data.drop(['Cleaned_released_date'], axis=1, inplace=True)

In [4]:
# Testing implementation of code and date format:

movie_data = movie_data[movie_data['released2']!='NaT']
movie_data

,name,genre,year,gross,released2
0,Little Women,Drama,2019,2.166012e+08,2019-12-25
1,Ip Man 4: The Finale,Action,2019,1.763460e+08,2019-12-20
2,Star Wars: Episode IX - The Rise of Skywalker,Action,2019,1.078233e+09,2019-12-20
3,Jumanji: The Next Level,Action,2019,8.000597e+08,2019-12-13
4,The Death & Life of John F. Donovan,Drama,2018,3.326364e+06,2019-12-13
...,...,...,...,...,...
1238,Lone Survivor,Action,2013,1.548029e+08,2014-01-10
1239,August: Osage County,Comedy,2013,7.418894e+07,2014-01-10
1240,The Legend of Hercules,Action,2014,6.127945e+07,2014-01-10
1241,Inside Llewyn Davis,Comedy,2013,3.296025e+07,2014-01-10
1242,The Best Offer,Crime,2013,2.091970e+07,2014-01-01

In [ ]:
# Trimming my data to a specific date range:

startDate = pd.to_datetime('2014-01-01')
endDate = pd.to_datetime('2019-12-31')
smMovieData = movie_data[(movie_data['released2'] >= startDate) & (movie_data['released2'] <= endDate)]
smMovieData

,name,genre,year,gross,released2
1915,Only Yesterday,Animation,1991,545825.0,2016-02-26
2219,Hyenas,Comedy,1992,24672.0,2019-04-26
2974,A Summer's Tale,Comedy,1996,198126.0,2014-06-20
4187,Dahmer,Biography,2002,144008.0,2019-01-01
4212,No Good Deed,Crime,2002,1440653.0,2014-11-20
...,...,...,...,...,...
7637,India's Most Wanted,Action,2019,1715851.0,2019-05-24
7638,Chasing the Dragon II: Wild Wild Bunch,Action,2019,45738461.0,2019-06-07
7639,Round of Your Life,Family,2019,20941.0,2019-06-21
7640,El Coyote,Action,2019,1101470.0,2019-10-04
7642,A Brother's Love,Drama,2019,1671969.0,2019-06-07

In [ ]:
# Sorting my 'date' range in descending order to match style of first data set:

smMovieData.sort_values(by = ['released2'], inplace=True, ascending=False)
smMovieData

C:\Users\mattl\AppData\Local\Temp\ipykernel_6444\3078048216.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  smMovieData.sort_values(by = ['released2'], inplace=True, ascending=False)

,name,genre,year,gross,released2
7447,Little Women,Drama,2019,2.166012e+08,2019-12-25
7544,Ip Man 4: The Finale,Action,2019,1.763460e+08,2019-12-20
7463,Star Wars: Episode IX - The Rise of Skywalker,Action,2019,1.078233e+09,2019-12-20
7467,Jumanji: The Next Level,Action,2019,8.000597e+08,2019-12-13
7423,The Death & Life of John F. Donovan,Drama,2018,3.326364e+06,2019-12-13
...,...,...,...,...,...
6294,Lone Survivor,Action,2013,1.548029e+08,2014-01-10
6321,August: Osage County,Comedy,2013,7.418894e+07,2014-01-10
6596,The Legend of Hercules,Action,2014,6.127945e+07,2014-01-10
6333,Inside Llewyn Davis,Comedy,2013,3.296025e+07,2014-01-10
6357,The Best Offer,Crime,2013,2.091970e+07,2014-01-01

In [ ]:
# Saving my second data set to be accessed through other platforms:

main_csv_file_path = r'C:\Users\mattl\code\SavvyCoders\Capstone\Data Sets\Cumulative Movie Data.csv'

smMovieData.to_csv(main_csv_file_path, index=False)

print(f"DataFrame saved to {main_csv_file_path}")

DataFrame saved to C:\Users\mattl\code\SavvyCoders\Capstone\Data Sets\Cumulative Movie Data.csv